lazperf/lazperf
*.o
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
lazperf-config.cmake
lazperf-configVersion.cmake
Makefile
install_manifest.txt
test/lazperf_tests
examples/simple
examples/point10
examples/readlaz
examples/dynamic
benchmarks/brute
benchmarks/brute_point10
benchmarks/laszip
.DS_Store
*.js
*.js.map
.vagrant/
CTestTestfile.cmake
Testing/
emscripten/autzen.laz
emscripten/haloe.laz
test/raw-sets/SpaceShuttle.laz
test/raw-sets/haloe.laz

# test files we don't need to version control
/test/raw-sets/autzen.la?
*.vcxproj
*.filters
*.opensdf
*.sdf
*.sln
*.suo
*.log
*.lastbuildstate
*.tlog
*.exe
*.ilk
*.pdb
*.obj
*.vcxproj.user
*.dll
*.js.mem
python/VERSION.txt
python/build
python/lazperf.egg-info
python/lazperf/*.pyc
python/lazperf/pylazperfapi.cpp
python/lazperf/pylazperfapi.so
python/test/*.pyc
