lazperf/lazperf
*.o
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
lazperf-config.cmake
lazperf-configVersion.cmake
Makefile
install_manifest.txt
test/lazperf_tests
examples/simple
examples/point10
examples/readlaz
examples/dynamic
benchmarks/brute
benchmarks/brute_point10
benchmarks/laszip
.DS_Store
*.js
*.js.map
.vagrant/
CTestTestfile.cmake
Testing/
emscripten/autzen.laz
emscripten/haloe.laz
test/raw-sets/SpaceShuttle.laz
test/raw-sets/haloe.laz
cpp/examples/*.wasm
cpp/benchmarks/*.wasm

# test files we don't need to version control
/cpp/test/raw-sets/autzen.la?
*.vcxproj
*.filters
*.opensdf
*.sdf
*.sln
*.suo
*.log
*.lastbuildstate
*.tlog
*.exe
*.ilk
*.pdb
*.obj
*.vcxproj.user
*.dll
*.js.mem
build/
dist/
wheelhouse
python/lazperf/*.so
python/VERSION.txt
python/lazperf/pylazperfapi.cpp
.eggs/
*.pyc
lazperf.egg-info
lazperf/*.pyc
lazperf/pylazperfapi.cpp
lazperf/pylazperfapi.so
python/test/*.pyc
python/.eggs/
*__pycache__*
test/test_main.hpp
x64/Release/ALL_BUILD/ALL_BUILD.vcxprojResolveAssemblyReference.cache
test/gtest/gtest-1.7.0/Release/gtest_main.lib
LAZPERF.VC.VC.opendb
build-js/
build-wasm/
