on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'

jobs:
  build:
    name: laz-perf (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.7', '3.8']
    steps:
      - uses: goanpeca/setup-miniconda@v1.1.2
        with:
          channels: conda-forge,spyder-ide
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
      - name: Setup
        shell: bash -l {0}
        run: |
            conda install compilers cmake -y
            conda install laz-perf --only-deps -y
      - name: Configure
        shell: bash -l {0}
        run: |
            mkdir build; cd build;
            cmake ..
      - name: Build
        shell: bash -l {0}
        run: |
            cd build;
            make
      - name: Test
        shell: bash -l {0}
        run: |
            cd build;
            test



