on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'

jobs:
  build:
    name:  ${{ matrix.os }}) - Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.7','3.8']
    steps:
      - uses: actions/checkout@v2
      - uses: ilammy/msvc-dev-cmd@v1
      - uses: goanpeca/setup-miniconda@v1.1.2
        with:
          channels: conda-forge,defaults
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
      - name: Setup
        shell: bash -l {0}
        run: |
            conda install -c conda-forge ninja pytest cython numpy compilers cmake -y
            conda install laz-perf --only-deps -y
        continue-on-error: true
      - name: Configure
        shell: bash -l {0}
        run: |
            if [ "$RUNNER_OS" == "Windows" ]; then
              export CC=cl.exe
              export CXX=cl.exe
            fi
            cmake . -G Ninja -DCMAKE_BUILD_TYPE=Release -Dgtest_force_shared_crt=ON
      - name: Build
        shell: bash -l {0}
        run: |
            ninja
      - name: Test
        shell: bash -l {0}
        run: |
            ctest
      - name: Python
        shell: bash -l {0}
        run: |
            pip install -e .
        working-directory: ./python
      - name: Python Test
        shell: bash -l {0}
        run: |
            pytest
        working-directory: ./python

  empscripten:

    name: empscripten
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v2
      - name: Fetch container
        shell: bash -l {0}
        run: |
            docker pull trzeci/emscripten:sdk-incoming-64bit
      - name: Build
        shell: bash -l {0}
        run: |
            docker run  --name emscripten -v $(pwd):/src trzeci/emscripten:sdk-incoming-64bit /src/emscripten-build.sh
